.goods{
    width: 253px;
    height: 355px;
    float: left;
    margin-left: 20px;
    text-align: center;
    margin-top: 10px;
    padding-bottom: 5px;
}
.content{
    margin-top: 40px;
    text-align: center;
    height: auto;
    padding-left: 100px;
}
.content:after{
    content: "";
    clear:both;
    display:block;
}
.img{
    width: 237px;
    height: 298px;
}
.title{
    font-size: 12px;
    height:30px;
    margin: 0;
    color: rgb(129,120,113);
    text-align: left;
}

.pirce{
    color: rgb(248,65,132);
    font-size: 20px;
    height:30px;
    margin: 0;
    text-align: left;
}
.zhekou{
    text-align: center;
    display: inline-block;
    border:1px solid rgb(234,130,54);
    color: rgb(234,130,54);
    font-size: 10px;
    width:30px;
    line-height: 20px;
    height: 20px;
    border-radius: 2px;
    float: right;
    margin-top: 4px;
}